* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base-gray2);
}

:root {
  --principal-red: #e3646e;
  --principal-purple: #bb72e9;
  --principal-blue: #3996db;
  --principal-grenn: #82bc4f;
  --principal-yellow: #eabd5f;

  --base-gray1: #0d0e11;
  --base-gray2: #16181d;
  --base-gray3: #292c34;
  --base-gray4: #878ea1;
  --base-gray5: #c0c4ce;
  --base-gray6: #e2e4e9;

  --font-family-title: "Asap", sans-serif;
  --title-lg: bold 56px/120% var(--font-family-title);
  --title-md: bold 24px/120% var(--font-family-title);
  --title-sm: bold 16px/120% var(--font-family-title);

  --font-family-subtitle: "Inconsolata", monospace;
  --subtitle: 20px/120% var(--font-family-subtitle);

  --font-family-text: "Maven Pro", sans-serif;
  --text-md: 16px/140% var(--font-family-text);
  --text-sm: 14px/140% var(--font-family-text);
}
