.hero {
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
  padding: 56px;
}

.container-avatar {
  position: relative;
  width: 125px;
  height: 125px;
  margin: 0 auto; /* centraliza */

  .avatar {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
  }

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--principal-red);
    border-right-color: var(--principal-red);
    animation: girar 4s linear infinite;
  }
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-vector {
  position: absolute;
  bottom: 0;
  right: 0;

  img {
    width: 31px;
    height: 25px;
  }
}

.container-subtitle {
  display: flex;
  justify-content: center;
  text-align: center;

  font: 20px/120% var(--font-family-subtitle);
  color: var(--base-gray5);

  .name {
    color: var(--principal-red);
    margin-left: 10px;
    margin-right: 10px;
  }
}

#subtitle-text::after {
  content: "|";
  color: var(--principal-red);
  animation: cursor 0.7s step-end infinite;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

.container-title {
  margin-top: 8px;
  margin-bottom: 20px;

  .title {
    display: flex;
    justify-content: center;

    font: bold 56px/120% var(--font-family-title);
    color: var(--base-gray5);
  }
}

.text-container {
  display: flex;
  justify-content: center;

  h3 {
    color: var(--base-gray4);
    font: 14px/140% var(--font-family-text);
  }
}

.container-icons {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 16px;

  font: 14px/140% var(--font-family-text);
  a {
    text-decoration: none;
  }

  .icon-container {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 25px;
    background-color: var(--base-gray3);

    span {
      color: var(--base-gray5);
      font-weight: bold;
      padding: 8px;
    }
  }
}

.container-arrow {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  scroll-behavior: smooth;

  .arrow-down {
    display: block;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 200px;
  }
}
