.hero {
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
  padding: 56px;
}

.container-avatar {
  position: relative;

  .avatar {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--base-gray2), 0 0 0 6px var(--principal-red);
  }
}

.container-vector {
  position: absolute;
  bottom: 0;
  right: 0;

  img {
    width: 31px;
    height: 25px;
  }
}

.container-subtitle {
  display: flex;
  justify-content: center;

  font: 20px/120% var(--font-family-subtitle);
  color: var(--base-gray5);

  #name {
    color: var(--principal-red);
    margin-left: 10px;
    margin-right: 10px;
  }
}

.container-title {
  margin-top: 8px;
  margin-bottom: 20px;

  .title {
    display: flex;
    justify-content: center;

    font: bold 56px/120% var(--font-family-title);
    color: var(--base-gray5);
  }
}

.text-container {
  display: flex;
  justify-content: center;

  h3 {
    color: var(--base-gray4);
    font: 14px/140% var(--font-family-text);
  }
}

.container-icons {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 16px;

  font: 14px/140% var(--font-family-text);
  a {
    text-decoration: none;
  }

  .icon-container {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 25px;
    background-color: var(--base-gray3);

    span {
      color: var(--base-gray5);
      padding: 8px;
    }
  }
}

.container-arrow {
  display: flex;
  justify-content: center;
  margin-top: 94px;

  .arrow-down {
    display: block;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 200px;
  }
}
